<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        {% block stylesheets %}
            {% for cssFile in cssFileList %}
                <link rel="stylesheet" href="{{ cssFile }}"/>
            {% endfor %}
        {% endblock %}
        {% block javascript %}
            {% for jsFile in jsFileList %}
                <script src="{{ jsFile|e }}" type="text/javascript"></script>
            {% endfor %}
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <div class="errorMessage">{{ error }}</div>
        {% include content %}
    </div>
    </body>
</html>
